<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"
    />
    <script src="/javascripts/autocomplete.js"></script>
    <script defer src="/javascripts/curlData.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="row my-2 navrow shapeit">
      <div class="col-2 ps-3 text-start">
        <a href="/" class="logo"></a>
      </div>
      <div class="col-6 search">
        <div class="autocomplete" style="width: 100%">
          <form action="/search" method="GET" name="searchform">
            <input
              type="text"
              name="search"
              class="autocompleteMVS form-control"
              placeholder="ุงุจุญุซ ุนู ุฃู ูุณูุณู ..."
              oninput="curl(this.value)"
            />
            <input type="submit" value="" hidden />
          </form>
          <div id="myInputautocomplete-list" class="autocomplete-items"></div>
        </div>
      </div>
      <div class="col-2 subscribe">
        <a href="" class="c btn btn-primary">ุฅุดุชุฑู ูุฌุงูุง</a>
      </div>
      <div class="col-2 login">
        <a href="" class="d btn btn-primary">ุชุณุฌูู ุงูุฏุฎูู</a>
      </div>
    </div>
    <div class="row main">
      <div class="col-2 right">
        <table>
          <tr>
            <td>๐</td>
            <td>ููุตุฉ ูููู</td>
          </tr>
          <tr>
            <td>๐</td>
            <td>ููุชุจุชู</td>
          </tr>
          <tr>
            <td>๐ฅ</td>
            <td>ุฃููุงู</td>
          </tr>
          <tr>
            <td>๐บ</td>
            <td>ูุณูุณูุงุช</td>
          </tr>
          <tr>
            <td>๐ด</td>
            <td>ูุณุฑุญูุงุช</td>
          </tr>
        </table>
      </div>
      <div class="col-7 interface">
        <div class="row">
          <% output.result.forEach(element => { %>
          <div class="col-4 my-4">
            <div class="card">
              <img
                class="card-img-top"
                src="<%= element.poster %>"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title"><%= element.label %></h5>
                <p class="card-text">
                  <%= element.overview.substring(0, 300);%>
                </p>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="row my-8">
          <div class="col-3"></div>
          <% if (output.next) { %>
          <div class="col-3">
            <a
              class="btn btn-primary"
              href="?page=<%= output.next.page%>&search=<%=output.input%>"
              >next</a
            >
          </div>
          <% }; %> <% if (output.prev) { %>
          <div class="col-3" style="direction: ltr">
            <a
              class="btn btn-secondary mx-8"
              href="?page=<%= output.prev.page%>>&search=<%=output.input%>"
              >prev</a
            >
          </div>
          <% }; %>
          <div class="col-3"></div>
        </div>
      </div>
      <div class="col-3">
        <div class="row ms-4">
          <div class="col-11 bg-white mx-3" style="text-align: center">
            <strong>ุชุงุจุน ููุตุฉ ููู</strong>
          </div>
          <div class="col-11 bg-white mx-3" style="text-align: center">
            <label class="text-primary">MINASSAT FILM ORIGINAL</label>
            <label class="text-danger">EGYTHEBESTORIGINAL</label>
          </div>
        </div>
        <div class="ms-4 mt-3 row">
          <div class="col-6">
            <a href="" class="btn m-1 bg-white abtnleft">ุฃููุงู ุนุฑุจูุฉ</a>
          </div>
          <div class="col-6">
            <a href="" class="btn m-1 bg-white abtnleft">ุฃููุงู ุฃุฌูุจูุฉ</a>
          </div>
          <div class="col-6">
            <a href="" class="btn m-1 bg-white abtnleft">ุฃููุงู ุงุด ุฏู</a>
          </div>
          <div class="col-6">
            <a href="" class="btn m-1 bg-white abtnleft">ุจููุฑุงู</a>
          </div>
          <div class="col-6">
            <a href="" class="btn m-1 bg-white abtnleft">ุฃูุดู</a>
          </div>
          <div class="col-6">
            <a href="" class="btn m-1 bg-white abtnleft">ููููุฏูุง</a>
          </div>
          <div class="col-6">
            <a href="" class="btn m-1 bg-white abtnleft">ุงูุจุญ</a>
          </div>
          <div class="col-6">
            <a href="" class="btn m-1 bg-white abtnleft">ุฏุฑุงูุง</a>
          </div>
          <div class="col-6">
            <a href="" class="btn m-1 bg-white abtnleft">ูุฎููุฉ</a>
          </div>
          <div class="col-6">
            <a href="" class="btn m-1 bg-white abtnleft">ุจูุง ูุนูู</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
